/*
.container_position {
    left: 80px;
    top: 140px;
}
.container_border {
    transform-style: preserve-3d;
    transition: all 1.0s linear;
    box-decoration-break: 0 0 1em #131313;
    opacity: 0.8;
    color: whitesmoke;
    letter-spacing: 1.5px;
}

.container_border:hover {
    transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
}
// material ends*/



