<div class="project_container">
    <div class="project_center_div">
        <div class="hex_arrange" *ngFor="let row of projects">
            <app-project-details *ngFor="let project_d of row.row" class="project_detail" [data]="project_d" (click)="modal_open(project_d);"></app-project-details>
        </div>
    </div>
</div>

<div id="modal-container" [ngClass]="modal_theme">
    <div class="modal-background">
      <div class="modal" >
        <div class="modal_content">
          <div fxLayout="row" fxLayout.xs="column">
            <!--Project Image-->
            <div class="modal_image" fxFlex="40">
              <img [src]="modal_img" />
            </div>
            <div fxFlex="60" class="modal_desc">
              <p class="modal_title">{{modal_title}}</p>
              <span>{{modal_description}}</span>

              <div class="modal_links">
                <!--Github-->
                <a *ngIf="modal_github" [href]="modal_github" target="_blank">
                  <svg aria-hidden="true" class="octicon octicon-mark-github" height="32" version="1.1" viewBox="0 0 16 16" width="32"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
                </a>
                <!--Weblink-->
                <a *ngIf="modal_link" [href]="modal_link" target="_blank">
                  <img src="assets/images/url.png" style="width:32px;height:32px" />
                </a>
              </div>
            </div>
          </div>

          <!--skills-->
          <div class="modal_skills">
            <span *ngFor="let skill of modal_technologies">{{skill}}</span>
          </div>
        </div>
        <!--scroll down animation-->
        
        <!--Dismiss Button-->
        <button mat-raised-button class="dismiss_btn" (click)="modal_close();">Dismiss</button>
      </div>
    </div>
</div> 

<!--(click)="modal_close();"-->