.project_container {
    display: flex;
    height: 100%;
    justify-content: center;
    margin: auto;
    /* background: repeating-linear-gradient( to right, rgba(53, 53, 53, 0), rgba(78, 78, 78, 0) 2px, rgba(53, 53, 53, 0) 2px, rgba(78, 78, 78, 0.24) 5px ); */
}
.project_center_div{
    display: inline-block; 
    top: 20%;
    position: absolute;
    zoom:80%;
}
.project_detail{
    display: inline-block;
    filter: grayscale(100%);
    z-index: 3;
}

.hex_arrange{
    display: flex;
    justify-content: center;
}

.modal {
  width: 700px;
}

/* Project Modal */

#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1000;
  }
  
    #modal-container.two {
    transform: scale(1);
    }
  
    #modal-container.two .modal-background .modal {
      opacity: 0;
      animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  
    #modal-container.two + .content {
      animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  
    #modal-container.two.out {
      animation: quickScaleDown 0s .5s linear forwards;
    }
  
    #modal-container.two.out .modal-background .modal {
      animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
    
    #modal-container.two.out + .content {
      animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  
    #modal-container .modal-background {
      display: table-cell;
      background: rgba(0, 0, 0, 0.8);
      text-align: center;
      vertical-align: middle;
    }

    #modal-container .modal-background .modal {
      background: white;
      padding-bottom:50px;
      display: inline-block;
      font-weight: 300;
      position: relative;
      font-family: 'Quicksand', sans-serif;
    }
  
        #modal-container .modal-background .modal h2 {
          font-size: 25px;
          line-height: 25px;
          margin-bottom: 15px;
        }
  
        #modal-container .modal-background .modal p {
          font-size: 18px;
          line-height: 22px;
        }
  
        #modal-container .modal-background .modal .modal-svg {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          border-radius: 3px;
        }
  
          #modal-container .modal-background .modal .modal-svg rect {
            stroke: #fff;
            stroke-width: 2px;
            stroke-dasharray: 778;
            stroke-dashoffset: 778;
          } 
  
  @media (max-width:500px){
    .modal{
      width:380px;
      height:calc(100vh - 50px);
    }
    .modal_content{
      padding:10px;
      overflow-y:scroll;
      height:calc(100vh - 50px);
    }
  } 


  @keyframes scaleUp {
    0% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
  
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  
    100% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
  }
  
  /*modal scale back*/
  @keyframes scaleBack {
    0% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0.85);
    }
  }
  
  /*modal scale down*/
  @keyframes quickScaleDown {
    0% {
      transform: scale(1);
    }
  
    99.9% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  
 
/*dismiss button*/
.dismiss_btn {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 6px);
  background: rgba(0, 0, 0, 0.82) !important;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 3px;
  margin: 3px;
}

/*Modal Image*/
.modal_image {
  margin: 3px 0px 0px 3px;
  width: 300px;
  height: 400px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

.scroll {
  display: none;
}

.modal_image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/*Modal skills*/
.modal_skills{
  padding-top:25px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
}

  .modal_skills span {
    background: #2e2e2e;
    color: white;
    margin: 5px;
    padding: 10px;
    display: inline-block;
    font-size:14px;
    letter-spacing:2px;
    font-weight:300;
    font-family: 'Quicksand', sans-serif;
  }

/*Modal Title*/
.modal_title{
  font-size:45px!important;
  font-weight:400!important;
}

/*Modal Desc*/
.modal_desc
{
  position:relative;
}

.modal_desc span{
  display: inline-block;
  margin-bottom: 50px;
}

.modal_links{
  position:absolute;
  bottom:0px;
  left:0px;
  right:0px;
  display:flex;
  justify-content:center;
}

@media (max-width:500px){
  .modal_image{
    margin:auto;
  }

  .scroll {
    display:block;
    width: 40px;
    position: absolute;
    bottom: 32px;
    left: 0px;
  }
}

@media (max-width: 414px) {
  .project_detail {
    margin-bottom: 95px;
  }

  .hex_arrange {
    display:grid;
  }

  .project_center_div {
    top: 1%;
  }
}

@media (max-width: 768px) and (min-width: 500px) {
  .project_center_div {
    zoom: 65%;
    margin-left: 10px;
  }
}
