<div class="back-black">
    <div id="map" class="background_map"></div>
    
        <div class="h3-box">
            <span class="contact_label">Get In Touch</span>
        </div>
        <div class="outer_container">

                <!-- Angular Material Form-->
                <form #contact_me_form="ngForm" (ngSubmit)="submit(contact_me_form)">
                    <mat-form-field>
                        <input name="full_name" matInput placeholder="Enter Full Name" required [(ngModel)]="full_name">
                        <mat-error>Please, Enter full Name!</mat-error>
                    </mat-form-field>
                    <br/>
                    <mat-form-field>
                        <input name="email" matInput placeholder="Enter Email ID" required [(ngModel)]="email" type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" minlength="10" maxlength="50">
                        <mat-error>Please, Enter Email ID!</mat-error>
                    </mat-form-field>
                    <br/>
                    <mat-form-field>
                        <input name="subject" matInput placeholder="Enter Subject Line" required [(ngModel)]="subject">
                        <mat-error>Please, Enter the subject line!</mat-error>
                    </mat-form-field>
                    <br/>
                    <mat-form-field>
                        <textarea rows="4" name="message" matInput placeholder="Enter a message..." required [(ngModel)]="message"></textarea>
                        <mat-error>Please, Enter a message!</mat-error>
                    </mat-form-field>
                    <br/>
                    <br/>
                    <button class="drop" mat-raised-button type="Submit">Drop</button>
                </form>
        </div>

</div>
