<div>
    <div class="background-image_skills" [style.visibility]="isViewable('svg_circle') && !media.isActive('xs')? 'visible' : 'hidden'">
        <svg class="most_outer_square" [style.height]="svgSize" [style.width]="svgSize"></svg>
    </div>
    <div *ngIf="isViewable('skills_table') || media.isActive('xs')">
        <div class="main_content details" id="skills">
            
            <!-- FlexTable -->
            <div fxLayout="column" class="flex_div" >
            <div fxLayout="row" *ngFor="let obj of table" fxLayout.xs="column">
                <div fxFlex="21" class="title_div" fxFlex.xs="100"><span class="title_span">{{obj.skill_type}}</span></div>
                <div fxFlex="82" class="skills_type_div">
                    <span *ngFor="let skill of obj.skill_set">
                    <span class="skills_span">{{skill}}</span>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span></span>
                </div>
            </div></div>
            <!-- FlexTable Ends -->

            <!---angular table -->
            <!-- LessDumberApproach 
            <table *ngFor="let obj of table">
                <tbody>
                    <tr><th> {{obj.skill_type}}</th>
                        <td *ngFor="let skill of obj.skill_set">
                            <span>{{skill}}</span>
                            <span>|</span>
                        </td>
                    </tr>
                </tbody>
            </table> LessDumberApproach Ends-->


            <!-- DumbApproach
            <table class="ob">
              <tbody>
                <tr><th>Operating System:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td *ngFor="let obj of aashita_skills.os">
                        <span>{{obj}}</span>
                        <span> |</span>
                    </td>
                </tr><br/>
                <tr><th>Core Languages:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td *ngFor = "let obj of aashita_skills.core_languages">
                        <span>{{obj}}</span>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    </td>
                </tr><br/>
                <tr><th>Web-based Languages:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td *ngFor = "let obj of aashita_skills.web_based_languages">
                        <span>{{obj}}</span>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    </td>
                </tr><br/>
                <tr><th>Libraries / JS Frameworks:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td *ngFor = "let obj of aashita_skills.lib_js_framework">
                        <span>{{obj}}</span>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    </td>
                </tr><br/>
                <tr><th>Database / Servers:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td *ngFor="let obj of aashita_skills.database_server">
                        <span>{{obj}}</span>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    </td>
                </tr><br/>
                <tr><th>Framework / Web APIs:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td *ngFor = "let obj of aashita_skills.framework_web_api">
                        <span>{{obj}}</span>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    </td>
                </tr><br/>
                <tr><th>Web Services:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td *ngFor = "let obj of aashita_skills.web_services;
                    ">
                        <span>{{obj}}</span>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    </td>
                </tr><br/>
                <tr><th>Productivity Tools:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <td *ngFor = "let obj of aashita_skills.productivity_tools">
                    <span>{{obj}}</span>
                    <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                </td>
            </tr><br/>
                <tr><th>Version Control / Clients:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td *ngFor = "let obj of aashita_skills.version_control_clients">
                        <span>{{obj}}</span>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    </td>
                </tr><br/>
                <tr><th>UI / UX:</th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <td *ngFor = "let obj of aashita_skills.ui_ux">
                        <span>{{obj}}</span>
                        <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                    </td>
                </tr><br/>
            </tbody>
            </table> 
        DumbApproach Ends-->
        
        </div>
  
    </div>
    <div class="skill_page_buttons" >
      <button class="hvr-rectangle-out" *ngIf="!media.isActive('xs')" (click)="switchSkillView();">{{viewChangeBtnText}}</button>
      <button class="hvr-rectangle-out">Resume</button>
    </div>

   <!-- <span style="color:white">{{media.isActive('xs')}}</span>-->
   <!--skills starts-->

</div>
