.background-image_skills {
    background-color: black;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    top: 0px;
    left: 0px;
}



/*rotating globe*/
/*
.skills-charts {
    position: absolute;
    left: 25%;
    width: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    max-width: 700px;
}

#myCanvasContainer {
    position: relative;
    height: 500px
}

#myCanvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: auto
}

#myCanvasContainer li a {
    font-family: font-file-82132;
}

.clear {
    clear: both
}

.logo {
    height: 5%;
    width:50%;
}
*/

/*zoomable circles*/
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  /*font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.most_outer_square {
    margin-left: 400px;
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}