.background-image_skills {
    background-color: transparent;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right:0px;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

/*zoomable circles*/
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  /*font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.most_outer_square {
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    /*height:90vh;*/
    /*width: 90vh;*/
    margin:auto;
    
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/*buttons*/
button {
    border: 1px solid gray;
    color: gray;
    text-decoration: none;
    font-size: 15px;
    width: 170px;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    float: right;
    margin-right: 15px;
}

.table-td{
	background-color: rgba(158,158,158,0.33);
	text-align:center;
	color:white;
}

.table-td2{
	padding-left:30px;
	font-weight:598;
}

.table-td2:hover{
	font: 16px arial, sans-serif;
}

.skill_page_buttons{
    position: absolute;
    bottom: 70px;
    right: 50px;
}
