/* navigation bar starts*/
.active {
    color: white!important;
}

.active:before,
.active:after {
    opacity: 1!important;
    height: 1px!important;
    width: 100%!important;
}

.active:before {
    top: 0px;
}

.active:after {
    bottom: 0px;
}

.nav_block {
    height: 100%;
    width: 55px;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    color: grey;
    display: inline-grid;
    padding-top: 60px;
    letter-spacing: 1.5px;
    z-index: 1;
}

.nav_block span {
    /* Rotate div */
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    /*transform-origin: left top 0;*/
    height: 12px;
    width: 110px;
    font-size: 12px;
    font-weight: bold;
    margin-left: -38px;
}

.nav_block span:focus {
    outline: none;
}

/* navigation code*/

div.container span {
    color: gray;
    text-decoration: none;
    padding: 8px 4px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    text-align: center;
}


/* Border from Y to X  */
div.borderYtoX span:before,
div.borderYtoX span:after {
    position: absolute;
    opacity: 0.5;
    height: 50%;
    width: 1px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
}

div.borderYtoX span:before {
    left: 0px;
}

div.borderYtoX span:hover:before {
    top: 0px;
}

div.borderYtoX span:after {
    right: 0px;
}

div.borderYtoX span:hover:after {
    bottom: 0px;
}

div.borderYtoX span:hover:before,
div.borderYtoX span:hover:after {
    opacity: 1;
    height: 1px;
    width: 100%;
}/* navigation bar ends*/

/*social icons container starts*/
.social_container {
    position: absolute;
    right: 10px;
    top: 35%;
    width:39px;
    z-index: 3;  
}
.social_container a {
  width: 25px;
  height: 25px;
  margin: 0 6px;
  text-align: center;
  display: inline-block;
  color: gray;
  border: 1px solid dimgray;
  border-radius: 2px;
  transform: rotate(45deg);
  line-height: 25px;
  margin-bottom:15px;
  transition: all 500ms ease;
}
.social_container a i {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/* hover */
.social_container a:hover{
    color: #fff;
}
.social_container a:hover{
    background: gray;
}
/*social icons container ends*/

.main_content{
    width: calc(100% - ( 55px + 60px ));
    height: calc(100% - 20px);
    overflow: auto;
    position: absolute;
    right: 0px;
    top:0px;
    right:60px;
    
}