.background-image {
    background-image: url('../../assets/images/wall_14.jpg')!important;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    display: inline-block;
    top: 0px;
    left:0px;
}

.display_picture {
    position: absolute;
    top: 15px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: auto;
    box-shadow:0 0 1em #d4d4d1;
    /*padding: 2.25em 1.6875em;
    background-image: radial-gradient(#303030 33%, transparent 33%);
    background-size: 3px 3px;*/
}

.heading_div {
    display: flex;
    justify-content: center;
    background-color: black;
    z-index: 3;
    width: 20%;
    border: 1px solid white;
}

.heading_title {
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
}