<div class="who_container" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div class="who_about" fxFlex="47.5" fxFlex.xs="100" fxFlex.sm="100" fxLayout.sm="row" fxLayout="column">
        <div fxFlex.sm="50" fxFlex="100">
        <div class="imagecontainer">
            <img src="../../assets/who_am_i.jpg" alt="" width="255" height="320" />
        </div>
        </div>
        <div class="who_text" fxFlex.sm="50" fxFlex="100">
            <p>A self-starter, highly motivated and passionate about learning new technologies. Working with people who are varied in skills and background. Enthusiastic about finding a unique solution and present it in the best way possible. (:
            </p>
        </div>
    </div>

    <div fxFlex="5" fxFlex.xs="100" fxFlex.sm="100" class="middle_div">
        <div class="middle_line"></div>
    </div>

    <div class="who_about who_things" fxFlex="47.5" fxFlex.xs="100" fxFlex.sm="100">
        <div class="who_idle"><span>When I'm not working!</span></div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="circle_content">
            <div fxFlex="50" fxFlex.xs="100" class="who_idle_column" fxLayout="column" fxLayout.sm="row">
                <div class="circle_div">
                    <!--coffee-->
                    <app-coffee></app-coffee>
                </div>

                <div class="circle_div">
                    <app-meetup></app-meetup>

                </div>
                <div class="circle_div">
                    <app-philately></app-philately>
                </div>
                <div class="circle_div_small">

                </div>
            </div>
            <div fxFlex="50" fxFlex.xs="100" class="who_idle_column" fxLayout="column" fxLayout.sm="row">
            <div class="circle_div_small">

            </div>
            <div class="circle_div">
                <app-beatles></app-beatles>
            </div>
            <div class="circle_div">
                <app-batman></app-batman>
            </div>
            <div class="circle_div">
                <app-robo></app-robo>
            </div>
        </div>
        </div>
        
    </div>
</div>
