<div class="who_container" fxLayout="row" fxLayout.xs="column">
    <div class="who_about" fxFlex="47.5" fxFlex.xs="100">
        <div class="imagecontainer">
            <img src="../../assets/who_am_i.jpg" alt="" width="255" height="320" />
        </div>
        <div class="who_text">
            <p>A self-starter, highly motivated and passionate about learning new technologies. Working with people who are varied in skills and background. Enthusiastic about finding a unique solution and present it in the best way possible. (:
            </p>
        </div>
    </div>

    <div fxFlex="5" fxFlex.xs="100" class="middle_div">
        <div class="middle_line"></div>
    </div>

    <div class="who_about who_things" fxFlex="47.5" fxFlex.xs="100">
        <div class="who_idle"><span>When I'm not working!</span></div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="circle_content">
            <div fxFlex="50" class="who_idle_column">
                <!--<div class="circle_div">
                    <div>
                        <div class="coffee-mug">
                            <div class="coffee-container">
                                <div class="coffee"></div>
                            </div>
                        </div>
                    </div>

                </div>
-->
                <div class="circle_div">
                    <img src="https://68.media.tumblr.com/7bf9a83e6e074c7d01635fb1718e06fa/tumblr_otwrbc034L1u6fq9ao1_500.gif" class="coffee1">
                    <!--<div class="ch-item">		
                    <div class="ch-info">
                        <div class="ch-info-front">
                            <div class="coffee-mug">
                                <div class="coffee-container">
                                    <div class="coffee"></div>
                                </div>
                            </div>
                        </div>
                        <div class="ch-info-back">
                            <h3>Mouse</h3>
                        </div>
                    </div>
                    </div>-->
                </div>
                <div class="circle_div">
                    <img src="http://68.media.tumblr.com/69586e45c156d7b53fa118685f6473c1/tumblr_mj2e1058zO1r1mkubo1_500.gif" class="beatles">
                </div>
                <div class="circle_div_small">
                    <img src="https://68.media.tumblr.com/5203f592bc29125c65db73acc5f4bca6/tumblr_nu6jq1lvCR1uxdtabo1_500.gif" class="batman">
                </div>
            </div>
            <div fxFlex="50" class="who_idle_column">
                <div class="circle_div_small">
                </div>
                <div class="circle_div">
                    <img src="https://68.media.tumblr.com/ab02457ee93e39b5f6e4d394ec4b0593/tumblr_nvs8qhwFoy1tchrkco1_500.gif" class="sky">
                </div>
                <div class="circle_div">
                    
                </div>
                <div class="circle_div">
                    <img src="https://68.media.tumblr.com/fcf7b43ee3ae2ee8c015349ae1e52f47/tumblr_nhncf8ut8R1t2kks8o1_500.gif" class="cooffee">
                </div>
            </div>
        </div>

    </div>
</div>
