.who_container {
    height: 100%;
   /* border: 1px solid white;*/
    padding: 5px;
}

.who_about {
    box-shadow: 0 0 1em #4c4c4c;
    background-color: #080808;
    z-index: 2;
}

.imagecontainer{
 margin:auto;
    margin-top: 50px;
 display:block;
 width:175px;
 height:175px;
 overflow:hidden;
 transform: rotate(45deg);
 -ms-transform: rotate(45deg); /* IE 9 */
 -webkit-transform: rotate(45deg); /* Safari and Chrome */
 position:relative;
 
 /* non-essential styling */
 -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
 box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, .05);
 
}
.imagecontainer img{
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari and Chrome */
    position:absolute;
    left: -20px;
    top:-60px;
    width:250px;
    height: auto;
}

.who_text {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: gray;
    margin: auto;
    letter-spacing: 1px;
    margin-top: 100px;
    font-size: 16px;
}
.who_text:hover {
    color: white;
}

.who_things {
    padding: 10px 50px 10px 50px;
}

.who_idle {
    color: gray;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.who_idle_column {
    
    border: 1px solid gray;
    display: inline-block;
}
.circle_content{
    height: calc(100% - 50px);
    margin-top: 10px;
}

.circle_div{
    height: 28.56%;
    width:200px;
    display: inline-block;
    border: 1px solid gray;

}
.circle_div_small{
    height: 14.28%;
    width: 100%;
    display: inline-block;
    border: 1px solid gray;
}