<div class="who_container" fxLayout="row" fxLayout.xs="column">
    <div class="who_about" fxFlex="47.5" fxFlex.xs="100">
        <div class="imagecontainer">
            <img src="../../assets/who_am_i.jpg" alt="" width="255" height="320" />
        </div>
        <div class="who_text">
            <p>A self-starter, highly motivated and passionate about learning new technologies. Working with people who are varied in skills and background. Enthusiastic about finding a unique solution and present it in the best way possible. (:
            </p>
        </div>
    </div>

    <div fxFlex="5" fxFlex.xs="100"></div>

    <div class="who_about who_things" fxFlex="47.5" fxFlex.xs="100">
        <div class="who_idle"><span>When I'm not working!</span></div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" class="circle_content">
            <div fxFlex="50" class="who_idle_column">
                <div class="circle_div">
                </div>
                <div class="circle_div">
                </div>
                <div class="circle_div">
                </div>
                <div class="circle_div_small">
                </div>
            </div>
            <div fxFlex="50" class="who_idle_column">
                <div class="circle_div_small">
                </div>
                <div class="circle_div">
                </div>
                <div class="circle_div">
                </div>
                <div class="circle_div">
                </div>
            </div>
        </div>
        
    </div>
</div>
